
body {
  background-color: #f6f7f7;
}

h2 {
  color: navy;
  font-family: 'Josefin Sans', serif;
  text-align: center;
  margin-top: 0 auto;
  font-size: 4em;
}

h2#line {
  font: 3em;
}

h3 {
  color: navy;
  position: absolute;
  left: 250px;
  top: 150px;
  font-family: 'Bree Serif', serif;
  text-align: center;
  margin: 0 auto;
  font-size: 3em;
}

h4 {
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

h5 {
  /* font-family: 'Bree Serif', serif; */
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
}

.main {
  text-align: center;
}

#homesec-href {
  background-image: url("/Users/liz/Projects/wdi-24/portfolio/css/GOPR0575.JPG");
  background-size: 100%;
  filter: grayscale(30%) saturate(30%);
}

.homename {
  font-family: 'Josefin Sans', serif;
  font-size: 7em;
  color: #181818;
  margin: 9px;
  position: relative;
  left: 100px;
}

.homeinfo {
  left: 100px;
  color: darkblue;
}

#nav_bar {
    background: #181818;
    width: 90px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 1000px;
}

#nav_bar nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 250px;
    top: 35%;
    margin-top: -120px;
    width: 100%;
}

#nav_bar nav a {
  color: white;
  text-decoration: none;
}

#nav_bar h1 {
  color: white;
  text-align: center;
}

.fa-lg {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: 5em;
    display: block;
    padding: 20px;
}

*:before {
  text-rendering: optimizeLegibility;
}

#nav_bar nav a i.fas fa-home fa-lg {
  content: "/f015";
}

#nav_bar nav a i.fa-home:hover:before {
  content: 'HOME';
  font-size: 15px;
}

#nav_bar nav a i.far fa-user fa-lg {
  content: "/f007";
}

#nav_bar nav a i.fa-user:hover:before {
  content: 'ABOUT';
  font-size: 15px;
}

#nav_bar nav a i.fas fa-newspaper fa-lg {
  content: "/f1ea";
}

#nav_bar nav a i.fa-newspaper:hover:before {
  content: 'PROJECTS';
  font-size: 12px;
}

#nav_bar nav a i.far fa-envelope fa-lg {
  content: "/f0e0";
}

#nav_bar nav a i.fa-envelope:hover:before {
  content: 'CONTACT';
  font-size: 12px;
}



/* #nav_bar nav a:after {
    content: '';
    font-size: 2px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
} */

.container {
    width: 100vw;
    min-height: 100vh;
  }

.grid {
    /* padding-top: 20px; */
    min-height: 100vh;
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item {
  padding: 20px 5px;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  color: navy;
}

.item a {
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  color: purple;
  padding: 0 5px;
}

img {
  border: 0;
  box-shadow: 2px 2px 20px #d3d3d3;
}



/* backup */

#homesec-href {
  position: relative;
  border: 1px solid transparent;
  /* margin: 10px; */
  min-height: 800px;
  width: 100%;
  padding-top: 10px;
}

#aboutmesec-href {
  position: relative;
  border: 1px solid #f6f7f7;
  /* margin: 10px; */
  min-height: 800px;
  /* padding-bottom: 10px; */
}

#projectsec-href {
  position: relative;
  border: 1px solid #f6f7f7;
  /* padding-bottom: 10px; */
  /* margin: 10px; */
}

#contactsec-href {
  position: relative;
  border: 1px solid #f6f7f7;
  /* margin: 20px; */
  min-height: 800px;
}

.contactmain {
  margin: 100px;
  min-height: 200px;
  width: 500px;
  /* border: 1px solid black; */
}

.contactmain ul li {
  list-style-type: none;
  margin: 20px;
}

.contactmain a {
  text-decoration: none;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  margin: 20px;
  font-size: 20px;
  /* font-family: 'Bree Serif', serif; */
}
