
body {
  background-color: #f6f7f7;
}

h2 {
  color: navy;
  font-family: 'Josefin Sans', serif;
  text-align: center;
  margin-top: 0 auto;
  font-size: 4em;
}
/*
h2#line {
  font: 3em;
} */

h3 {
  color: navy;
  position: absolute;
  left: 250px;
  top: 150px;
  font-family: 'Bree Serif', serif;
  text-align: center;
  margin: 0 auto;
  font-size: 3em;
}

h4 {
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

h5 {
  /* font-family: 'Bree Serif', serif; */
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
}

.main {
  text-align: center;
}

/* nav bar */

#nav_bar {
    background: #181818;
    width: 90px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 1000px;
}

#nav_bar nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 250px;
    top: 35%;
    margin-top: -120px;
    width: 100%;
}

#nav_bar nav a {
  color: white;
  text-decoration: none;
}

#nav_bar h1 {
  color: white;
  text-align: center;
}

.fa-lg {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: 5em;
    display: block;
    padding: 20px;
}

*:before {
  text-rendering: optimizeLegibility;
}

#nav_bar nav a i.fas fa-home fa-lg {
  content: "/f015";
}

#nav_bar nav a i.fa-home:hover:before {
  content: 'HOME';
  font-size: 15px;
}

#nav_bar nav a i.far fa-user fa-lg {
  content: "/f007";
}

#nav_bar nav a i.fa-user:hover:before {
  content: 'ABOUT';
  font-size: 15px;
}

#nav_bar nav a i.fas fa-newspaper fa-lg {
  content: "/f1ea";
}

#nav_bar nav a i.fa-newspaper:hover:before {
  content: 'PROJECTS';
  font-size: 12px;
}

#nav_bar nav a i.far fa-envelope fa-lg {
  content: "/f0e0";
}

#nav_bar nav a i.fa-envelope:hover:before {
  content: 'CONTACT';
  font-size: 12px;
}

/* #overall {
  height: 100vh;
  width: 100vw;
} */
#homesec-href {
  position: relative;
  border: 1px solid transparent;
  /* margin: 10px; */
  height: 100vh;
  width: 100vw;
  padding-top: 10px;
  margin-left: 8px;
  margin-top: -10px;
  background-image: url("./GOPR0575.JPG");
  background-size: 100%;
  background-position-y: 25%;
  /* background-repeat: no-repeat; */
  /* filter: grayscale(50%) saturate(40%); */
}

.homename {
  font-family: 'Josefin Sans', serif;
  font-size: 11vh;
  color: navy;
  margin: 11px;
  position: relative;
  text-align: center;
}

.homeinfo {
  /* left: 100px; */
  color: firebrick;
  text-align: center;
  right: 267px;
  /* padding-right: 119px; */
  font-size: 6vmin;
  top: 14vh;
  /* box-shadow: 2px 2px 2px; */
  width: 40vw;
}

#aboutmesec-href {
  position: relative;
  /* border: .5px solid #f6f7f7; */
  /* margin: 10px; */
  min-height: 800px;
  padding-top: 5px;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
}

.aboutitem {
  /* border: 1px solid black; */
  /* text-align: left; */
  /* width: 50%; */
}

img#profilepic {
  width: 25vw;
  height: auto;
}

.aboutmetext p {
  line-height: 30px;
  word-spacing: 5px;
  color: navy;
}

.resume {
  width: 200px;
  height: 100px;
}

.resume a {
  text-decoration: none;
  color: navy;
}

#projectsec-href {
  position: relative;
  padding-top: 5px;
  /* border: 1px solid #f6f7f7; */
  /* padding-bottom: 10px; */
  /* margin: 10px; */
  /* height: 100vh;
  width: 100vw; */
}

.container {
    width: 100vw;
    min-height: 100vh;
  }

.grid {
    /* padding-top: 20px; */
    min-height: 100vh;
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-auto-columns: fit-content(40%); */
    /* border: 1px solid black; */
}

.item {
  padding: 20px 5px;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  color: navy;
}

.item a {
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  color: purple;
  padding: 0 5px;
}

img {
  border: 0;
  box-shadow: 2px 2px 20px #d3d3d3;
}

#contactsec-href {
  position: relative;
  padding-top: 5px;
  /* border: 1px solid #f6f7f7; */
  /* margin: 20px; */
  max-height: 1200px;
  background-color: #fff;
  /* height: 100vh; */
  width: 100vw;
}

.column ul li {
  list-style-type: none;
  margin: 80px;
  padding: 5px;
  min-width: 360px;
}

.column a {
  text-decoration: none;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  margin: 20px;
  font-size: 20px;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

  #nav_bar {
    width: 100px;
  }

  #nav_bar nav {
    top: 24%;
    line-height: 6;
  }

  .fa-lg {
    font-size: 3em;
  }

  h4 {
    font-size: 35px;
  }

  h5 {
    font-size: 25px;
  }


  #homesec-href {
    /* border: 1px solid black; */
    height: 40vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
  }

  .homename {
    font-size: 5vh;
  }

  .homeinfo {
    font-size: 3vmin;
    top: 10vh;
  }

  #aboutmesec-href {
    /* border: 1px solid black; */
    min-height: 80vh;
    width: 100vw;
    margin: 0 auto;
  }

  .aboutitem {
    /* padding: 5px; */
    /* position: relative; */
    /* margin: 0 auto; */
  }

  img#profilepic {
    max-width: 25vw;
    max-height: 25vh;
  }

  .aboutmetext p {
    line-height: 24px;
    word-spacing: 3px;
    color: navy;
  }

  .grid {
    /* border: 1px solid black; */
    grid-template-columns: 350px;
  }

  #projectsec-href {
    text-align: center;
  }

  .column ul li {
    margin: 40px;
  }

  .column a {
    margin: 10px;
  }

}
