
body {
  background-color: paleturquoise;
}

h2 {
  color: navy;
  position: absolute;
  left: 250px;
  font-family: 'Bree Serif', serif;
  text-align: center;
  margin: 0 auto;
  font-size: 4em;
}

h3 {
  color: navy;
  position: absolute;
  left: 250px;
  top: 150px;
  font-family: 'Bree Serif', serif;
  text-align: center;
  margin: 0 auto;
  font-size: 3em;
}

#nav_bar {
    background: #181818;
    width: 90px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 1000px;
}

#nav_bar nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 250px;
    top: 35%;
    margin-top: -120px;
    width: 100%;
}

#nav_bar nav a {
  color: white;
  text-decoration: none;
}

#nav_bar h1 {
  color: white;
  text-align: center;
}

.fa-lg {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: 5em;
    display: block;
    padding: 20px;
}

*:before {
  text-rendering: optimizeLegibility;
}

#nav_bar nav a i.fas fa-home fa-lg {
  content: "/f015";
}

#nav_bar nav a i.fa-home:hover:before {
  content: 'HOME';
  font-size: 15px;
}

#nav_bar nav a i.far fa-user fa-lg {
  content: "/f007";
}

#nav_bar nav a i.fa-user:hover:before {
  content: 'ABOUT';
  font-size: 15px;
}

#nav_bar nav a i.fas fa-newspaper fa-lg {
  content: "/f1ea";
}

#nav_bar nav a i.fa-newspaper:hover:before {
  content: 'PROJECTS';
  font-size: 12px;
}

#nav_bar nav a i.far fa-envelope fa-lg {
  content: "/f0e0";
}

#nav_bar nav a i.fa-envelope:hover:before {
  content: 'CONTACT';
  font-size: 12px;
}



/* #nav_bar nav a:after {
    content: '';
    font-size: 2px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
} */

.container {
    width: 100vw;
    min-height: 100vh;
  }

.grid {
    padding-top: 100px;
    min-height: 100vh;
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item {
  padding: 20px 5px;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  color: navy;
}

img {
  border: 2px solid black;
  box-shadow: 2px 2px #d3d3d3;
}

h4 {
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

a {
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  color: purple;
  padding: 0 5px;
}
